.backdrop {
	display: inline-block;
	background: rgba(0, 0, 0, 0.65);
	border-radius: 25px;
	border: 1px solid #444;
	padding: 5px 10px;
	color: #fff;
	font: 1em "Fira Sans", sans-serif;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-style: bold;
	color: red;
}

h2 {
	font-family: 0.75em 'Lato', sans-serif;
	font-weight: bold;
	color: wheat;
}

h3 {
	/* font: 1em 'Lato', sans-serif;
	font-style: bold; */
	color: rgb(179, 245, 209);
}

#heightSliderLabel,
#heightValue {
	vertical-align: top;
}

.backdrop a:link,
.backdrop a:visited,
.backdrop a:hover {
	color: #fff
}

.loadingIndicator {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -33px;
	margin-left: -33px;
	width: 66px;
	height: 66px;
	background: url(Source/Images/ajax-loader.gif) center no-repeat;
}

.cover {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.75);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* #menu {
    position: absolute;
    left: 10px;
    top: 10px;
} */

#HightChartContainer {
	position: absolute;
	right: 10%;
	top: 10px;
	width: 50%;
	min-height: 50%;
	margin: 0 auto;
}

.miniMenu {
	position: absolute;
	left: 255px;
	top: 110px;
	/* min-width: 10%; */
	/* min-height: 50%; */
	margin: 0 auto;
}

.minibackdrop {
	display: inline-block;
	background: rgba(17, 24, 45, 0.65);
	border-radius: 25px;
	border: 1px solid #444;
	padding: 5px 10px;
	color: #fff;
	/* font: 1em "Fira Sans", sans-serif; */
	width: 80%;
	margin: 5px;
}

.miniMenuMapPin {
	position: absolute;
	left: 255px;
	width: 230px;
	top: 0;
	/* min-width: 10%; */
	/* min-height: 50%; */
	margin: 0 auto;
}

.miniMenu3DCity {
	position: absolute;
	left: 255px;
	/* width: 230px; */
	top: 55px;
	/* min-width: 10%; */
	/* min-height: 50%; */
	margin: 0 auto;
}

#ebikeInfo {
	position: absolute;
	right: 10px;
	top: 50px;
	width: 200px;
}

#StatInfo {
	position: absolute;
	right: 10%;
	bottom: 10%;
	width: 50%;
}

/* #ebikeRealtime {
    position: absolute;
    right: 10px;
	top: 100px;
	width: 250px;
} */
.nowrap {
	white-space: nowrap;
}

button.cesium-infoBox-camera {
	display: none;
}

html,
body,
#cesiumContainer {
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: -1;
}

#uiMenu {
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	left: 20px;
	font-family: "Arial";
	z-index: 99999;
}


.myButtonOff {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f09c87), color-stop(1, #f24437));
	background: -moz-linear-gradient(top, #f09c87 5%, #f24437 100%);
	background: -webkit-linear-gradient(top, #f09c87 5%, #f24437 100%);
	background: -o-linear-gradient(top, #f09c87 5%, #f24437 100%);
	background: -ms-linear-gradient(top, #f09c87 5%, #f24437 100%);
	background: linear-gradient(to bottom, #f09c87 5%, #f24437 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09c87', endColorstr='#f24437', GradientType=0);
	background-color: #f09c87;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	border: 1px solid #d02718;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 12px;
	padding: 6px 15px;
	;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
}

.myButtonOff:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #f09c87));
	background: -moz-linear-gradient(top, #f24437 5%, #f09c87 100%);
	background: -webkit-linear-gradient(top, #f24437 5%, #f09c87 100%);
	background: -o-linear-gradient(top, #f24437 5%, #f09c87 100%);
	background: -ms-linear-gradient(top, #f24437 5%, #f09c87 100%);
	background: linear-gradient(to bottom, #f24437 5%, #f09c87 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#f09c87', GradientType=0);
	background-color: #f24437;
}

.myButtonOff:active {
	position: relative;
	top: 1px;
}

.myButtonOn {
	-moz-box-shadow: 3px 4px 0px 0px #9acc85;
	-webkit-box-shadow: 3px 4px 0px 0px #9acc85;
	box-shadow: 3px 4px 0px 0px #9acc85;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background: -moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: -webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: -o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: -ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b', GradientType=0);
	background-color: #74ad5a;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	border: 1px solid #3b6e22;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 12px;
	padding: 2px 2px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #92b879;
}

.myButtonOn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background: -moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: -webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: -o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: -ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a', GradientType=0);
	background-color: #68a54b;
}

.myButtonOn:active {
	position: relative;
	top: 1px;
}

.myButtonRed {
	-moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
	box-shadow: inset 0px 1px 0px 0px #f5978e;
	background-color: #f24537;
	-moz-border-radius: 3px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #d02718;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 12px;
	padding: 2px 2px;
	text-decoration: none;
}

.myButtonRed:hover {
	background-color: #c62d1f;
}

.myButtonRed:active {
	position: relative;
	top: 1px;
}

.myButtonGreen {
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background-color: #77d42a;
	-moz-border-radius: 3px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #268a16;
	display: inline-block;
	cursor: pointer;
	color: #0a0a0a;
	font-family: Trebuchet MS;
	font-size: 12px;
	padding: 2px 2px;
	text-decoration: none;
}

.myButtonGreen:hover {
	background-color: #5cb811;
}

.myButtonGreen:active {
	position: relative;
	top: 1px;
}

.myButtonBlue {
	-moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
	box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background-color: #3d94f6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #337fed;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 12px;
	padding: 2px 2px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #1570cd;
}

.myButtonBlue:hover {
	background-color: #1e62d0;
}

.myButtonBlue:active {
	position: relative;
	top: 1px;
}


#3DTiles {
	padding-top: 10px;
}

/* for the arrow down */
/* i {
	
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
  }
  .down {
	border: solid rgb(138, 154, 226);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}   */

i.fasRound {
	display: inline-block;
	border-radius: 60px;
	box-shadow: 0px 0px 2px #888;
	padding: 0.5em 0.6em;

}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 17px;
}

.slider.round:before {
	border-radius: 50%;
}

#menu {
	position: absolute;
	left: 10px;
	top: 10px;
}

.faCenter {

	margin-left: auto;
	margin-right: auto;
}

#img_menu {
	margin-right: 10px;
	padding: 0;
	width: 200px;
	position: absolute;
	left: 5px;
	top: 20px;
}

#img_menu:hover {
	cursor: pointer;
	opacity: .7;
}

.MainMenu {
	font-size: 1em;
}

.mainbackdrop {
	overflow: scroll;
	overflow-x: hidden;
	max-height: 80%;
	/* bottom: 150px; */
}

.buttonModern {
	color: rgb(255, 255, 255);
	border-radius: 20px;
	background: linear-gradient(to right, rgb(54, 49, 125), rgb(35, 108, 134), rgb(28, 136, 183));
	padding: 3px 15px 3px 15px;
	cursor: pointer;
	margin: 2px;
	border-width: 0px;
}

.buttonModern:hover {
	opacity: 0.7;
	color: rgb(219, 135, 135);
}

.buttonBlue {
	color: rgb(255, 255, 255);
	border-radius: 20px;
	background: #063161;
	padding: 3px 15px 3px 15px;
	cursor: pointer;
	margin: 2px;
	border-width: 0px;
}
.buttonBlue:hover {
	opacity: 0.7;
	/* color: rgb(219, 135, 135); */
}

.buttonGreen {
	color: rgb(255, 255, 255);
	border-radius: 20px;
	background: #64924f;
	padding: 3px 15px 3px 15px;
	cursor: pointer;
	margin: 2px;
	border-width: 0px;
}
.buttonGreen:hover {
	opacity: 0.7;
	/* color: rgb(219, 135, 135); */
}
.buttonRed {
	color: rgb(255, 255, 255);
	border-radius: 20px;
	background: #940707db;
	padding: 3px 15px 3px 15px;
	cursor: pointer;
	margin: 2px;
	border-width: 0px;
}
.buttonRed:hover {
	opacity: 0.7;
	/* color: rgb(219, 135, 135); */
}
#CapPopup {
	top: 10px;
    /* right: 50%; */
    position: absolute;
	left: 320px;
	overflow: auto;
	/* overflow-x: hidden; */
	max-height: 40%;
}
.positionInput {
	width: 130px;
	border-radius: 4px;
	font-size: 0.6em;
}
.positionInput:active, 
.positionInput:focus 
{
	border:3px solid rgb(116, 159, 223); /* here configure as your needs */
	/* color:rgb(182, 220, 238); */
 }
.buttonConfirm {
	background: #1e7d22;
	background: linear-gradient(to right, rgb(54, 49, 125), rgb(35, 108, 134), rgb(28, 136, 183));
    padding: 5px 40px 5px 40px;
    border-radius: 10px;
}
.buttonConfirm2 {
	background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 5px 40px 5px 40px;
    border-radius: 10px;
}
.closeButton {
	position: absolute;
	right: 3px;
	top: 10px;
	padding: 2px 5px;
	z-index: 1;
	border-width: 0px;
	background: #c31432;
	border-radius: 5px;
	/* border-radius: 15px; */
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.selectJoe {
	font-family: 'FontAwesome', 'Second Font name';
	padding: 5px;
	border-radius: 10px;
	margin: 6px;
}

#custom-handle {
	width: 3em;
    height: 1.2em;
    top: 50%;
    margin-top: -.4em;
    text-align: center;
    line-height: 0.8em;
    /* width: 200px; */
    font-size: 14px;
  }
  .ui-slider-horizontal {
    height: .4em;
    width: 150px;
}
/* Hide Scroll bar x and pretty right */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: rgba(42, 42, 42, 0);
}

/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 20px
}

/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
	background-color: rgba(42, 42, 42, 0);
}

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
	background-color: rgba(42, 42, 42, 0);
}

.input_3dps {
	width: 200px;
	font-size: 0.65em; 
}

.buttonSimpleBlue {
    color: white;
    background: #6e86cc;
    padding: 10px 18px 10px 18px;
    border-radius: 5px;
    font-size: 0.85em;
    /* border: white; */
    border-color: #0f415a;
    border-width: 1.5px;
    border-style: solid;
}
.buttonSimpleBlue:hover {
	opacity: 0.7;
	cursor: pointer;
}

.green {
	background: #6ecc76;
}
.yellow {
	background: #ccca6e;
}

.Map_legend {
    display: inline-block;
    background: rgba(208, 230, 230, 0.65);
    border-radius: 10px;
    border: 1px solid #444;
    padding: 5px 5px;
    color: #000;
    font: 20px "Fira Sans", sans-serif;
}